@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@layer components {

    .hover-underline-animation {
        @apply relative;
    }

    .hover-underline-animation::after {
        @apply content-[""] absolute w-full scale-x-0 h-[2px] bottom-0 left-0 bg-primary origin-bottom-right ease-out duration-500 z-[100];
    }

    .cta {
        @apply relative bg-white text-primary rounded-lg hover:bg-white/70 lg:py-4 py-2 lg:px-6 px-4 font-medium lg:text-lg text-sm flex gap-3 justify-center items-center;
    }

    .cta:hover .hover-underline-animation::after {
        @apply scale-x-100 origin-bottom-left;
    }

    .slide-up {
        @apply transition-transform duration-500 ease-in-out;
    }

    .checkbox:checked {
        border: none;
    }

    .checkbox:checked+.check-icon {
        display: flex;
    }

    .breadCrumb {
        @apply flex flex-row items-center gap-3;
    }

    .crumb {
        @apply hover:text-primary hover:underline last:text-primary last:hover:no-underline;
    }

    .loader {
        @apply w-14 h-14 grid animate-[spin_2s_infinite_linear] rounded-full border-4 border-solid border-x-orange-2 border-y-transparent;
    }

    .loader::before {
        @apply content-[""] m-[2px] rounded-full border-4 border-x-indigo-600 border-y-transparent animate-[spin_2s_infinite_linear];
        grid-area: 1/1;
        animation-duration: 0.75s;
        animation-direction: reverse;
    }

    .loader::after {
        @apply content-[""] m-[8px] rounded-full border-4 border-x-orange-2 border-y-transparent animate-[spin_2s_infinite_linear];
        grid-area: 1/1;
    }


};